{% extends 'base.html.twig' %}

{% block title %}Mentions légales Vitrine3p
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
{% endblock %}

{% block body %}
	{#
	
		 à changer :
		 nom vitrine3p pour nom de l'entreprise
		 XXXXXX
		 BALISE à modifier
		
		 #}

	<section class="premieresection">

		<h2>Informations légales</h2>

		<p>MENTIONS LEGALES :</p>

		<p>En conformité aux obligations  de l'article 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 concerçant la Confiance en l'économie numérique, dite L.C.E.N., nous portons à la connaissance des visiteurs du site internet :
			<a href="https://vitrine3p.fr" target="_blank">vitrine3p.fr</a>
			Ces informations ci-jointe :</p>

		<h4>1. Déclaration légales :</h4>
		<p>
			<ul>
				<li>Nom du propriétaire :
					{# à modifier #}
					<strong>XXXXXX</strong>
				</li>
				<li>Adresse postale du titulaire :
					<strong>75000 Paris</strong>
				</li>
				<li>Le Développeur du site  :
					<strong>Amandine DUBREUIL</strong>
					-
					<a href="mailto:amandine.dubreuil@hotmail.com?subject=Contact a partir des mentions légales via le site vitrine3p.fr">amandine.dubreuil@hotmail.com</a>
				</li>
				<li>Ou contacter le Titulaire :
					<strong>
						<a href="mailto:contact@vitrine3p.fr?subject=Contact a partir des mentions légales via le site vitrine3p.fr">contact@vitrine3p.fr</a>
					</strong>
				</li>
			</ul>
		</p>
		<p>
			<ul>
				{# à modifier #}
				<li>Entreprise qui assure l'hébergement : OVH</li>
				<li>SAS au capital social de 10 174 560 Euros</li>
				<li>Immatriculation RCS Lille Métropole 424 761 419 00045</li>
				<li>Code d'Activité principale exercée (APE) 2620Z</li>
				<li>Num. de TVA : FR 22 424 761 419</li>
				<li>Siège Sociale de l'entreprise : 2 rue Kellermann - 59100 Roubaix - France</li>
			</ul>
		</p>
		<p>Ces mentions ont été réalisées via
			<strong>
				<a href="https://www.generateur-de-mentions-legales.com" target="_blank">ce générateur</a>
			</strong>.</p>


		<h4>
			2. Présentation :</h4>


		<p>Tout internaute qui utilise le site internet :
			<a href="https://vitrine3p.fr" target="_blank">vitrine3p.fr</a>
			est considéré comme utilisateur du site.
		</p>
		<p>Le site
			<strong>vitrine3p.fr</strong>
			réuni différents services, en l'état, disponible pour les utilisateur. Il est naturellement précisé que ces derniers doivent rester honnête et faire preuve de bonne foi tant envers les différents usagés qu'envers le Réalisateur du site vitrine3p.fr. Le site vitrine3p.fr est mis à jour de façon régulière par XXXXXX.</p>
		{# à modifier #}

		{# à modifier #}
		<p>XXXXXX s'efforce d'offrir sur le site suivant vitrine3p.fr des informations les plus véridiques possibles (sous réserve de modifications apportées depuis leur mise en ligne), mais ne saurait assurer l'exactitude, la finitude et l'actualité des informations diffusées sur son site internet, qu'elles soient de son fait ou non. En répercussion, l'utilisateur reconnaît utiliser ces informations données (à titre indicatif, non exhaustives et susceptibles d'évoluer) sous son unique responsabilité.</p>

		<h4>3. Accessibilité Numérique :</h4>
		<p>
			Le site vitrine3p.fr est par principe accessible aux utilisateurs H24 7/7, sauf en cas d'interruption, prévue ou pas, pour les besoins de  maintenance ou  force majeure. En cas d'impossibilité d'accès au service, vitrine3p.fr s'engage à faire son maximum pour rétablir l'accès au site web et tentera alors d'informer au préalable aux utilisateurs les Dates & heures de l'intervention. N'étant subordonné qu'à une redevance de moyen, vitrine3p.fr ne pourrait être designé comme responsable des dommages, peu importe sa nature.</p>


		<h4>4. Droit de propriété intellectuelle :</h4>
		<p>
			{# à modifier #}
			XXXXXX est le propriétaire exclusif de tous les droits de propriété intellectuelle ou détient les droits d'usage sur tous les éléments accessibles sur le site internet, tant structurellement que sur les textes, images, graphismes, logo, bande sonore, logiciels etc…</p>
		<p>
			{# à modifier #}
			Toute reproduction même partielle du site vitrine3p.fr, représentation, modification, adaptation totalement ou partiellement de l'un  de ces éléments, quel que soit le  moyen ou la technique utilisé, est formellement interdite, excepté acceptation écrite préalable de XXXXXX, directeur du site suivant à l'email : contact@vitrine3p.fr, à défaut elle sera considérée comme constitutive d'une contrefaçon et passible de poursuite conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>


		<h4>5. Crédits :</h4>

		{# à modifier #}
		<p>Photos et illustrations : Freepik</p>

		<h4>6. Liens hypertextes et cookies :</h4>
		{#<p>Notre politique de confidentialité est détaillée à cette adresse :
													 <a href="{{ path('app_confidentialite') }}">www.vitrine3p.fr/politique-de-confidentialite</a>.</p> #}


		<h4>7. Protection des personnes & biens - Maniement des données personnelles :</h4>

		{#<p>Notre politique de confidentialité est détaillée à cette adresse :
													 <a href="{{ path('app_confidentialite') }}">www.vitrine3p.fr/politique-de-confidentialite</a>.</p> #}
	</section>


{% endblock %}
