{% extends 'base.html.twig' %}

{% block title %}Formations vitrine3P
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/cardsStyle.css')}}">

{% endblock %}

{% block body %}
	<section class="premieresection">

		<h1>Nos Formations</h1>
		<div class="cards">
			{% for formation in formations %}
				<div class="card">
					<a href="{{ path('app_formations_show', {'id': formation.id}) }}">
						<div class="imgCard"><img src="{{vich_uploader_asset(formation, 'attachmentFile') | imagine_filter('miniature') }}" alt="{{ formation.titre }}"></div>
					</a>
					<div class="texteCard">
						<a href="{{ path('app_formations_show', {'id': formation.id}) }}">
							<div class="enteteTexteCard">
								<div class="titreTexteCard">
									<h2>{{ formation.titre }}</h2>
								</div>
								<p>durée :
									{{ formation.duree }}</p>
								<p>public :
									{{ formation.public }}</p>
							</div>
						</a>
						<a href="{{ path('app_formations_show', {'id': formation.id}) }}">
							<div class="corpsTexteCard">
								<p>Objectif :</p>
								<p>{{ formation.objectifs | raw }}</p>
							</div>
						</a>
						<div class="btnDf">
							<a href="{{ path('app_formations_show', {'id': formation.id}) }}" class="btnOk">En savoir plus</a>
						</div>
					</div>
				</div>

			{% else %}
				<p>Aucune formation proposée aujourd'hui</p>
			{% endfor %}

		</div>

	</section>


{% endblock %}
