{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/formStyle.css')}}">


{% endblock %}

{% block body %}
	<section class="premieresection">

		<a class="btnBack" href="{{ path('app_home')}}">
			<i class="fa-solid fa-arrow-left"></i>
		</a>
		<h1>Formulaire de contact</h1>
		<form method="POST">

			<div class="form-field">
				<label for="nom">Nom * :</label>
				<input type="text" name="nom" id="nom" class="" required="required">
			</div>

			<div class="form-field">
				<label for="societe">Société :</label>
				<input type="text" name="societe" id="societe" class="">
			</div>
			<div class="form-field">
				<label for="telephone">Téléphone * :</label>
				<input type="text" name="telephone" id="telephone" class="" required="required">
			</div>
			<div class="form-field">
				<label for="mail">E-mail * :</label>
				<input type="email" name="mail" id="mail" class="" required="required">
			</div>
			<div class="form-field">
				<label for="objet">Objet * :</label>
				<input type="text" name="objet" id="objet" class="" required="required">
			</div>
			<div class="form-field">
				<label for="commentaire">Commentaire * :</label>

				<textarea name="commentaire" id="commentaire" cols="30" rows="10" class="form-control rounded-1" required="required"></textarea>
			</div>
			<div class="groupeBtn">
				<input type="submit" value="Envoyer" name="submit" class="btn btnOk">
			</div>
		</form>
		<p class="grey">* : champs requis</p>
	</section>
{% endblock %}
