<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
			{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

			<!-- Font Awesome -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
			<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
		{% endblock %}


	</head>
	<body>
		{# **************
								modale contact 
								*****************#}

		<div class="modal-container">
			<div class="overlay modal-trigger"></div>
			<div class="modal">
				<button class="close-modal modal-trigger">X</button>
				<h1>Formulaire de contact</h1>
				<form method="POST">

					<div class="form-field">
						<label for="nom">Nom * :</label>
						<input type="text" name="nom" id="nom" class="" required="required">
					</div>

					<div class="form-field">
						<label for="societe">Société :</label>
						<input type="text" name="societe" id="societe" class="">
					</div>
					<div class="form-field">
						<label for="telephone">Téléphone * :</label>
						<input type="text" name="telephone" id="telephone" class="" required="required">
					</div>
					<div class="form-field">
						<label for="mail">E-mail * :</label>
						<input type="email" name="mail" id="mail" class="" required="required">
					</div>
					<div class="form-field">
						<label for="objet">Objet * :</label>
						<input type="text" name="objet" id="objet" class="" required="required">
					</div>
					<div class="form-field">
						<label for="commentaire">Commentaire * :</label>

						<textarea name="commentaire" id="commentaire" cols="30" rows="10" class="form-control rounded-1" required="required"></textarea>
					</div>
					<div class="groupeBtn">
						<input type="submit" value="Envoyer" name="submitContact" class="btn btnOk">
					</div>
				</form>
				<p class="grey">* : champs requis</p>
			</div>

		</div>

		{# **************
								header 
								*****************#}

		<header
			class="menu">
			{# <a href="{{path('app_contact')}}" class="btnEdit contact">Contact</a> #}
			<button class="contact btnAdd modal-trigger modal-btn">Contact</button>
			<div class="navbar-fixed">
				<nav class="navbar">
					<div class="navbar-head">
						<div class="burger">
							<i class="fa-solid fa-bars"></i>
						</div>
						<div class="close dnone">
							<i class="fa-solid fa-xmark"></i>
						</div>
						<a href="{{path('app_home')}}" class="navbar-brand" id="logo">Vitrine3p Logo</a>


					</div>
					<ul class="navbar-menu hideNav">
						<li>
							<a class="navbar-link" href="{{path('app_home')}}">Accueil</a>
						</li>
						<li>
							<a class="navbar-link" href="{{path('app_formations_index')}}">Formations</a>
						</li>
						<li>
							<a class="navbar-link" href="{{path('app_equipes_index')}}">Equipe</a>
						</li>


						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="navbar-link" href="{{path('admin')}}">
									Admin
								</a>
							</li>
						{% endif %}


					</ul>

				</nav>

			</div>

			{# **************
																																		message flash 
																																*****************#}

			{% include "_partials/_flash.html.twig" %}
			{% if app.user and app.user.isverified == false %}
				<div class="alert-warning" role="alert">
					<div class="alert-message">
						<strong>Votre compte n'est pas encore activé</strong>. Renvoyer le
						<a href="{{ path('app_resend_verif') }}">lien d'activation</a>
					</div>
				</div>
			{% endif %}
		</header>
		{# **************
																								main 
																						*****************#}

		<main>
			{% block body %}{% endblock %}
		</main>

		{# **************
																								footer 
																						*****************#}
		<footer>
			<p>Copyright © 2023 - Vitrine3p</p>
			<div>
				<a href="{{ path('app_legal') }}" target="blank">Mentions légales</a>

				/
				<a href="{{ path('app_confidentialite') }}" target="blank">Politique de confidentialité</a>
			</div>
		</footer>
		{% block javascripts %}
			<script src="{{asset('./assets/js/menu.js')}}"></script>
			<script src="{{asset('./assets/js/modaleContact.js')}}"></script>
		{% endblock %}
	</body>
</html>
