<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
			{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

			<!-- Font Awesome -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
			<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
		{% endblock %}


	</head>
	<body>
		{# **************
						header 
				*****************#}

		<header class="menu">
			<a href="#" class="btnEdit contact">Contact</a>
			<div class="navbar-fixed">
				<nav class="navbar">
					<div class="navbar-head">
						<div class="burger">
							<i class="fa-solid fa-bars"></i>
						</div>
						<div class="close dnone">
							<i class="fa-solid fa-xmark"></i>
						</div>
						<a href="{{path('app_home')}}" class="navbar-brand" id="logo">Vitrine3p Logo</a>


					</div>
					<ul class="navbar-menu hideNav">
						<li>
							<a class="navbar-link" href="{{path('app_home')}}">Accueil</a>
						</li>
						<li>
							<a class="navbar-link" href="{{path('app_equipes_index')}}">Equipe</a>
						</li>
						<li>
							<a class="navbar-link" href="{{path('app_home')}}">Formations</a>
						</li>


						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="navbar-link" href="{{path('admin')}}">
									<i class="fa-solid fa-file-shield"></i>
									<span>
										Admin</span>
								</a>
							</li>
						{% endif %}


					</ul>

				</nav>

			</div>

			{# **************
							message flash 
					*****************#}

			{% include "_partials/_flash.html.twig" %}
			{% if app.user and app.user.isverified == false %}
				<div class="alert-warning" role="alert">
					<div class="alert-message">
						<strong>Votre compte n'est pas encore activé</strong>. Renvoyer le
						<a href="{{ path('app_resend_verif') }}">lien d'activation</a>
					</div>
				</div>
			{% endif %}
		</header>
		{# **************
						main 
				*****************#}

		<main>
			{% block body %}{% endblock %}
		</main>

		{# **************
						footer 
				*****************#}
		<footer>
			<p>Copyright © 2023 - Vitrine3p</p>
			<div>
				<a href="{{ path('app_legal') }}" target="blank">Mentions légales</a>

				/ <a href="{{ path('app_confidentialite') }}" target="blank">Politique de confidentialité</a>
			</div>
		</footer>
		{% block javascripts %}
			<script src="{{asset('./assets/js/menu.js')}}"></script>
		{% endblock %}
	</body>
</html>
